#open-map-dialog {
	.side-bar {
		.top-bar {
		}

		.list {
			.not-found {
				text-align: center;
				.text {
					padding: 15px 0px;
				}
			}
		}
	}
	.map-list {
		.text {
			padding: 15px;
		}
	}
}
